@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* the asterisk will select all selectors and give them a margin 0, and padding 0
meaning it will remove all the default margin and padding for every object on the page*/
* {
  margin: 0;
  padding: 0;
  /*the default is content box/ the browser will account for any border and padding in the values you specify for an element's width and height */
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: #263238;
  justify-content: center;
  color: white;
}


main{
  height: 1000px;
  width: 700px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

header{
  font-family: 'Kumar One Outline', cursive;
  font-size: 25px;
  margin-top: 50px;
  margin-right: 60px;
  text-align: center;
  margin-bottom: 20px;
};

.wins{
border: 3px solid black;
display: flex;
border: 1px solid black;
padding: 10px;
justify-content: space-around;
}
/* .wins div{
  display: flex;
  padding: 10px;
  border: 1px solid black;
  align-items: center;
} */


.game {
  position: absolute;
  background-color: #424242;
  padding: 25px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 90px;
  text-align: center;
}


.game-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  grid-gap: 2px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  background: #ff9933;
  cursor: pointer;
}


.gameStatus-nextPlayer  {
  margin-top: 10px;
  font-size: 18px;
}

.gameStatus {
  border: 6px solid black;
  font-family: 'Orbitron', sans-serif;
  padding: 5px;
text-align: center;
  cursor: pointer;
}

.gameStatus:hover {
  color: #F2EBD3;
}

.nextGame {
  border: 3px solid black;
  font-family: 'Orbitron', sans-serif;
  padding: 5px;
  display: inline-block;
  /* margin-left: 280px; */
  cursor: pointer;
}

.nextGame:hover {
  color: #4CAF50;
}
.gameStatus-nextPlayer{
  display: flex;
  justify-content: space-around;
}

.resetScore {
  border: 3px solid black;
  font-family: 'Orbitron', sans-serif;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /* margin-left: 280px; */
  cursor: pointer;
}

.resetScore:hover {
  color: #4CAF50;
}


.x::after {
  content: '×';
  font-size: 190px;
}

.o::after {
  content: '○';
  font-size: 200px;
}
@media only screen and (max-width: 1024px){
  .game{
    margin-top: 20px;
    grid-gap: 1px;
  }
  .square{
    height: 90px;
    width: 90px;
  }
  .x::before{
    font-size: 130px;
  };
  .o::before{
    font-size: 155px;
  }
}
