@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
}

header{
  font-family: 'Kumar One Outline', cursive;
  font-size: 25px;
  margin-top: 50px;
  margin-right: 60px;
  text-align: center;
  margin-bottom: 20px;

}
body {
  background-color: #263238;
  justify-content: center;
  color: white;
}

main{
  height: 1000px;
  width: 700px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.game {
  vertical-align: middle;
  position: absolute;
  background-color: #424242;
  padding: 25px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 90px;
}

.gameStatus-nextPlayer  {
  margin-top: 10px;
  font-size: 18px;
}

.gameStatus {
  border: 3px solid black;
  font-family: 'Orbitron', sans-serif;
  padding: 5px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.gameStatus:hover {
  color: #F2EBD3;
}

.nextGame {
  border: 3px solid black;
  font-family: 'Orbitron', sans-serif;
  padding: 5px;
  display: inline-block;
  margin-left: 280px;
  cursor: pointer;
}

.nextGame:hover {
  color: #4CAF50;
}

.game-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: 140px 140px 140px;
  grid-gap: 2px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  background: #ff9933;
  cursor: pointer;
}


.x::after {
  content: '×';
  font-size: 190px;
}

.o::after {
  content: '○';
  font-size: 200px;
}
@media only screen and (max-width: 1024px){
  .game-grid{
    margin-top: 20px;
    grid-gap: 1px;
  }
  .square{
    height: 90px;
    width: 90px;
  }
  .x::before{
    font-size: 130px;
  };
  .o::before{
    font-size: 155px;
  }
}
